<!DOCTYPE html>
<html lang="en" ng-app="gameapi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Server Management</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <style>
      body { padding-top: 70px; }
    </style>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/scrollglue.js"></script>
    <script src="js/gameapi.js"></script>
    <script src="js/services/players.js"></script>
    <script src="js/services/server.js"></script>
    <script src="js/controllers/playerlist.js"></script>
    <script src="js/controllers/serverstatus.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fyp-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Game Server Admin</a>
        </div>
        <div class="collapse navbar-collapse" id="fyp-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Overview</a></li>
            <li><a href="console.html">Console</a></li>
            <li><a href="#">Configuration</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="margin-right: 0; /* HACK: Margin bug in Bootstrap */">
            <li><p class="navbar-text">Signed in as <strong>Didz</strong></p></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" ng-controller="ServerStatusController">
      <h1>Server Status <small><span class="label label-success" ng-show="server.state === 'online'">Online</span><span class="label label-danger" ng-show="server.state === 'offline'">Offline</span></small></h1>
      <div class="row">
        <div class="col-sm-7 col-md-8 col-lg-9">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h2></h2>
              <p><strong>Name:</strong> {{server.name}}</p>
              <p><strong>Max Players:</strong> {{server.maxPlayers}}</p>
              <p><strong>Current map:</strong> {{server.mapName ? server.mapName : 'N/A'}}</p>
              <p><strong>Game mode:</strong> {{server.gameMode}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h2></h2>
              <p><strong>Server Uptime:</strong> {{server.uptime | duration}}</p>
              <p><strong>Address:</strong> {{server.address}}</p>
              <p><strong>Game:</strong> {{server.game}}</p>
              <p><strong>Version:</strong> {{server.version}}</p>
              <p><strong>Platform:</strong> {{server.platform}}</p>
              <p>
                <button type="button" class="btn btn-default btn-block" ng-click="restart()"><span class="glyphicon glyphicon-repeat"></span> Restart</button>
                <button type="button" class="btn btn-default btn-block" ng-click="shutdown()"><span class="glyphicon glyphicon-off"></span> Shutdown</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3">
          <!--<div class="well">-->
            <h2></h2>
            <p><img class="img-responsive img-rounded" ng-src="img/levelshots/{{server.mapName ? server.mapName : 'unknownmap_mp'}}.jpg"></p>
            <p><strong>Current map:</strong> {{server.mapName ? server.mapName : 'N/A'}}</p>
            <p><strong>Game mode:</strong> {{server.gameMode}}</p>
            <p>
              <button type="button" class="btn btn-default btn-sm">Change map</button>
              <button type="button" class="btn btn-default btn-sm">Change game mode</button>
            </p>
            <!--<button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-repeat"></span> Restart</button>
            <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-off"></span> Shutdown</button>-->
          <!--</div>-->
        </div>
      </div>
      <div ng-controller="PlayerListController">
        <h1>Players <small>({{players.length}}/{{server.maxPlayers}})</small></h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Score</th>
              <th>Ping</th>
              <th>Playing Time</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pl in players">
              <td>{{pl.id}}</td>
              <td>{{pl.name}} <span class="label label-default" ng-show="pl.isBot">Bot</span></td>
              <td>{{pl.score}}</td>
              <td>{{pl.ping >= 0 ? pl.ping + ' ms' : 'N/A'}}</td>
              <td>{{pl.playingTime | duration}}</td>
              <td style="width: 0; white-space: nowrap;">
                <button type="button" class="btn btn-default btn-sm" ng-click="sendMessage(pl, 'Test')">Send message</button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="kick(pl)">Kick</button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="ban(pl)">Ban</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>